#footer {
  background-color: $bg-color-secondary;
  padding: 50px 0;

  .footer__firstc,
  .footer__secondc,
  .footer__thirdc,
  .footer__fourthc {
    margin: 20px 0;
  }

  .footer__firstc h2,
  .footer__secondc h2,
  .footer__thirdc h2 {
    font-size: 24px;
    color: $primary-color;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 2px;
      background: $white-color;
      bottom: 0;
      left: 0;
    }
  }

  .footer__firstc h4,
  .footer__secondc h4,
  .footer__thirdc h4 {
    font-size: 18px;
    color: $white-color;
    font-weight: 400;
  }

  .footer__fourthc {
    padding: 20px;
    background-color: $bg-color;
    border-radius: 10px;

    h4 {
      font-size: 18px;
      color: $white-color;
      font-weight: 400;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100px;
        height: 2px;
        background: $white-color;
        bottom: 0;
        left: 0;
      }
    }

    p {
      font-size: 14px;
      color: $white-color;
      font-weight: 400;
    }

    img {
      height: auto;
      width: 50px;
      margin: 2px 0;
    }
  }

  .footer__social {
    padding: 30px 0;
    h4 {
      font-size: 18px;
      color: $primary-color;
      font-weight: 400;

      span {
        margin-left: 50px;

        a {
          border: none !important;
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          border-radius: 50%;
          padding: 0;
          position: relative;
          box-shadow: 2px 2px 2px $primary-color;
          transition: 0.3s ease-in-out;

          &:hover {
            box-shadow: -2px -2px 0px $primary-color;
          }
        }
      }
    }
  }

  .footer__bottom {
    padding: 30px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: $white-color;
      top: 0;
      left: 0;
    }
    &--logo {
      h2 {
        color: #f2b705;
        font-size: 24px;
      }
    }
    &--text {
      p {
        font-size: 10px;
        color: $white-color;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
}
